<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="background-color: black; color: white; padding: 10px">
 <h1>Flowers</h1>
    <form action="@{/search}" align="right">
    <input name="name" type="search" class="item-search" data-th-value="${name}">
    <button type="submit">Search</button>
</form>
</div>
<p>
    <a href="rose.html"><img src="../file/media/rose.jpg" title="Roses" height="293" width=286" border="3"> </a>
    <a href="lily.html"><img src="../file/media/lily.jpg" title="Lilies" height="293" width="286" border="3"> </a>
    <a href="chrysanthemum.html"><img src="../file/media/orig.jpg" title="Chrysanthemums" height="293" width="286" border="3"> </a>
    <a href="tulip.html"><img src="../file/media/tulip.jpg" title="Tulips" height="293" width="286" border="3"> </a>
    <a href="item.html"><img src="../file/media/item.jpg" title="Toys and Accessories" height="293" width="286" border="3"> </a>
</p>

</body>
</html>